body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:78px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u32245 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:69px;
  width:1277px;
  height:78px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u32245 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u32245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u32246 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:147px;
  width:1277px;
  height:49px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u32246 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u32246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32247 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:97px;
  width:56px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32248 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:97px;
  width:42px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32249 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:97px;
  width:28px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:40px;
}
#u32250 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:150px;
  width:39px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:40px;
}
#u32250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32251 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:97px;
  width:42px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32252 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:97px;
  width:56px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32252_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:18px;
}
#u32253 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:25px;
  width:150px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:18px;
}
#u32253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32254 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:97px;
  width:56px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32255 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:97px;
  width:110px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32256 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:97px;
  width:70px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32257 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:97px;
  width:20px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32258 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:97px;
  width:37px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32259 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:97px;
  width:52px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32260 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:97px;
  width:77px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32261 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:153px;
  width:115px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32261 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u32262 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:169px;
  width:9px;
  height:6px;
  display:flex;
}
#u32262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32263 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:150px;
  width:81px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32263 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32264 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:150px;
  width:48px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32264 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32265 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:150px;
  width:61px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32265 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32266 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:149px;
  width:60px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32266 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u32267 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:147px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u32267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32268 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:150px;
  width:72px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32268 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32269 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:97px;
  width:10px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u32270 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:166px;
  width:9px;
  height:6px;
  display:flex;
}
#u32270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32271 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:160px;
  width:20px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32272 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:160px;
  width:10px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32273 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:97px;
  width:65px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u32274 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:164px;
  width:7px;
  height:10px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u32274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u32275 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:164px;
  width:7px;
  height:10px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u32275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32276 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:150px;
  width:72px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32276 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u32277 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:164px;
  width:9px;
  height:6px;
  display:flex;
}
#u32277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32278 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:150px;
  width:72px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32278 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u32279 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:164px;
  width:9px;
  height:6px;
  display:flex;
}
#u32279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32280 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:149px;
  width:58px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32280 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32281 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:150px;
  width:58px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32281 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32282 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:150px;
  width:92px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32282 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u32284 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:161px;
  width:13px;
  height:14px;
  display:flex;
  opacity:0.43;
}
#u32284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u32285 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:163px;
  width:11px;
  height:12px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u32285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32286 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:150px;
  width:92px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#434343;
  text-align:left;
}
#u32286 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u32288 {
  border-width:0px;
  position:absolute;
  left:1321px;
  top:161px;
  width:13px;
  height:14px;
  display:flex;
  opacity:0.43;
}
#u32288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u32289 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:163px;
  width:11px;
  height:12px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u32289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32290 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:97px;
  width:28px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u32290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u32291 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:196px;
  width:88px;
  height:32px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u32291 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u32291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u32292 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:287px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u32292 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u32292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u32293 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:287px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u32293 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u32293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
