body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31678_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:150px;
  height:36px;
}
#u31678 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:34px;
  width:146px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31680_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:138px;
  height:36px;
}
#u31680 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:34px;
  width:134px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009999;
}
#u31680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u31681 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:44px;
  width:19px;
  height:13px;
  display:flex;
}
#u31681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31684_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:143px;
  height:36px;
}
#u31684 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:34px;
  width:139px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009999;
}
#u31684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u31685 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:44px;
  width:19px;
  height:13px;
  display:flex;
}
#u31685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u31686 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:45px;
  width:12px;
  height:11px;
  display:flex;
}
#u31686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#009999;
}
#u31687 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:45px;
  width:48px;
  height:11px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#009999;
}
#u31687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u31688 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:110px;
  width:179px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u31688 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u31688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u31689 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:173px;
  width:79px;
  height:37px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u31689 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u31689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:78px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u31691 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:220px;
  width:1199px;
  height:78px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u31691 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u31691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u31692 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:298px;
  width:1199px;
  height:49px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u31692 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u31692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u31693 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:347px;
  width:1199px;
  height:46px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u31693 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u31693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u31694 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:245px;
  width:32px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u31694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31695 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:301px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31696 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:351px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:40px;
}
#u31700 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:298px;
  width:40px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:40px;
}
#u31700 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u31701 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:240px;
  width:34px;
  height:18px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u31701 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:40px;
}
#u31702 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:355px;
  width:40px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:40px;
}
#u31702 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31703 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:121px;
  width:84px;
  height:16px;
  display:flex;
}
#u31703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u31711 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:413px;
  width:28px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u31711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u31712 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:413px;
  width:28px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u31712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u31713 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:413px;
  width:28px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u31713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u31714 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:423px;
  width:8px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u31714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u31715 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:423px;
  width:8px;
  height:8px;
  display:flex;
}
#u31715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31716 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:419px;
  width:76px;
  height:16px;
  display:flex;
}
#u31716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31717 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:121px;
  width:76px;
  height:16px;
  display:flex;
}
#u31717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31718 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:121px;
  width:44px;
  height:16px;
  display:flex;
}
#u31718 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u31722 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:413px;
  width:82px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u31722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u31722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u31723 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:423px;
  width:8px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.800000011920929;
}
#u31723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31724 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:240px;
  width:92px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31725 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:240px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31726 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:240px;
  width:94px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31727 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:319px;
  width:115px;
  height:15px;
  display:flex;
}
#u31727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009999;
}
#u31728 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:313px;
  width:52px;
  height:15px;
  display:flex;
  color:#009999;
}
#u31728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009999;
}
#u31729 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:364px;
  width:53px;
  height:15px;
  display:flex;
  color:#009999;
}
#u31729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31730 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:364px;
  width:115px;
  height:15px;
  display:flex;
}
#u31730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31731 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:310px;
  width:124px;
  height:15px;
  display:flex;
}
#u31731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31732 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:364px;
  width:132px;
  height:15px;
  display:flex;
}
#u31732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31733 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:240px;
  width:38px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31734 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:310px;
  width:93px;
  height:16px;
  display:flex;
}
#u31734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31735 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:364px;
  width:93px;
  height:19px;
  display:flex;
}
#u31735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31736 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:240px;
  width:92px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31737 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:319px;
  width:94px;
  height:15px;
  display:flex;
}
#u31737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31738 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:367px;
  width:93px;
  height:15px;
  display:flex;
}
#u31738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31739 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:240px;
  width:91px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31740 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:310px;
  width:65px;
  height:15px;
  display:flex;
}
#u31740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31741 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:364px;
  width:52px;
  height:15px;
  display:flex;
}
#u31741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31741_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31742 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:423px;
  width:125px;
  height:82px;
  display:flex;
}
#u31742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u31744 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:110px;
  width:155px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u31744 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u31744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u31745 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:122px;
  width:14px;
  height:8px;
  display:flex;
}
#u31745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31746 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:243px;
  width:94px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31747 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:313px;
  width:56px;
  height:15px;
  display:flex;
}
#u31747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31748 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:367px;
  width:74px;
  height:15px;
  display:flex;
}
#u31748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u31750 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:110px;
  width:270px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u31750 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u31750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u31751 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:115px;
  width:26px;
  height:27px;
  display:flex;
}
#u31751 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31752 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:240px;
  width:92px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  line-height:18px;
}
#u31752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31753 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:315px;
  width:112px;
  height:15px;
  display:flex;
}
#u31753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31754 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:362px;
  width:111px;
  height:15px;
  display:flex;
}
#u31754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u31755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31755 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:301px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31756 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:301px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31757 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:351px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31758 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:351px;
  width:49px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009999;
  text-align:center;
  line-height:40px;
}
#u31758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
