body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  text-align:center;
}
#u15193 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:101px;
  width:77px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  text-align:center;
}
#u15193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15195 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:95px;
  width:492px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15195 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  text-align:center;
}
#u15196 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:162px;
  width:77px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  text-align:center;
}
#u15196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15197 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:166px;
  width:34px;
  height:16px;
  display:flex;
}
#u15197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15198 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:155px;
  width:174px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15198 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15200 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:156px;
  width:161px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15200 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  text-align:center;
}
#u15201 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:47px;
  width:112px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4E5465;
  text-align:center;
}
#u15201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15203 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:38px;
  width:492px;
  height:37px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u15203 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u15204 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:50px;
  width:12px;
  height:8px;
  display:flex;
}
#u15204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15205_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:120px;
  height:36px;
}
#u15205 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:262px;
  width:116px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15207_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:113px;
  height:36px;
}
#u15207 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:262px;
  width:109px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009999;
}
#u15207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u15209 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:103px;
  width:22px;
  height:22px;
  display:flex;
}
#u15209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u15210 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:103px;
  width:71px;
  height:19px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u15210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15211 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:167px;
  width:34px;
  height:16px;
  display:flex;
}
#u15211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:345px;
}
#u15212 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:262px;
  width:358px;
  height:345px;
  display:flex;
}
#u15212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
