body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31131_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:120px;
  height:36px;
}
#u31131 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:475px;
  width:116px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31133_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:113px;
  height:36px;
}
#u31133 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:475px;
  width:109px;
  height:32px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009999;
}
#u31133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:435px;
}
#u31135 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:30px;
  width:815px;
  height:435px;
  display:flex;
}
#u31135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31136 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:289px;
  width:56px;
  height:16px;
  display:flex;
}
#u31136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31137 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:101px;
  width:56px;
  height:16px;
  display:flex;
}
#u31137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
