body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u4705 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
  display:flex;
}
#u4705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u4706 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
  display:flex;
}
#u4706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4707 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
  display:flex;
}
#u4707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4708 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
  display:flex;
}
#u4708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u4709 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
  display:flex;
}
#u4709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(26, 28, 33, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4710 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:824px;
  width:204px;
  height:8px;
  display:flex;
}
#u4710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
}
#u4711 {
  border-width:0px;
  position:absolute;
  left:2397px;
  top:21px;
  width:375px;
  height:780px;
  display:flex;
}
#u4711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:7px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u4712 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:826px;
  width:200px;
  height:7px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u4712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4714 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:113px;
  width:375px;
  height:1px;
  display:flex;
  text-align:right;
}
#u4714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4715 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:77px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4715 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4715_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4716 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:81px;
  width:21px;
  height:21px;
  display:flex;
}
#u4716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 154, 71, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4718 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:780px;
  width:137px;
  height:40px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 154, 71, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:380px;
  width:75px;
  height:33px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:915px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:15px;
  width:218px;
  height:915px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u4722 .text {
  position:absolute;
  align-self:flex-start;
  padding:48px 16px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4724_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:369px;
  height:81px;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:186px;
  width:339px;
  height:51px;
  display:flex;
}
#u4724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:197px;
  width:189px;
  height:20px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4725 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:197px;
  width:89px;
  height:20px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4726 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4729_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:365px;
  height:112px;
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:104px;
  width:335px;
  height:82px;
  display:flex;
}
#u4729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:113px;
  width:187px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4730 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:153px;
  width:88px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4731 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u4732 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:153px;
  width:35px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4732 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4733 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:265px;
  width:57px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4735_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:369px;
  height:115px;
}
#u4735 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:295px;
  width:339px;
  height:85px;
  display:flex;
}
#u4735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:18px;
}
#u4736 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:304px;
  width:189px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4736 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u4737 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:341px;
  width:154px;
  height:32px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4737 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4738 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:268px;
  width:176px;
  height:15px;
  display:flex;
}
#u4738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4741_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:365px;
  height:123px;
}
#u4741 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:648px;
  width:335px;
  height:93px;
  display:flex;
}
#u4741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u4742 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:683px;
  width:120px;
  height:28px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4742 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u4743 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:683px;
  width:53px;
  height:28px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4743 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u4744 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:683px;
  width:26px;
  height:20px;
  display:flex;
}
#u4744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4745 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:683px;
  width:29px;
  height:20px;
  display:flex;
}
#u4745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4746 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:418px;
  width:176px;
  height:15px;
  display:flex;
}
#u4746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4748_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:365px;
  height:199px;
}
#u4748 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:449px;
  width:335px;
  height:169px;
  display:flex;
}
#u4748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
}
#u4749 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:465px;
  width:187px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4749 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u4750 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:490px;
  width:88px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4750 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u4751 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:515px;
  width:88px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4751 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:540px;
  width:88px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4752 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:565px;
  width:88px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4753 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:495px;
  width:50px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4754 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:515px;
  width:33px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4755 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:540px;
  width:81px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4756 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:565px;
  width:69px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4757 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:591px;
  width:88px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4758 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:591px;
  width:69px;
  height:16px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4759 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:524px;
  width:21px;
  height:24px;
  display:flex;
}
#u4760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
