body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:806px;
  width:373px;
  height:59px;
  display:flex;
}
#u4620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1px;
  width:433px;
  height:62px;
  display:flex;
}
#u4621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:62px;
  width:30px;
  height:803px;
  display:flex;
}
#u4622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:62px;
  width:30px;
  height:803px;
  display:flex;
}
#u4623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u4624 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:27px;
  width:375px;
  height:44px;
  display:flex;
}
#u4624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(26, 28, 33, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:824px;
  width:204px;
  height:8px;
  display:flex;
}
#u4625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:2397px;
  top:21px;
  width:375px;
  height:780px;
  display:flex;
}
#u4626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:7px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:826px;
  width:200px;
  height:7px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u4627 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4629 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:113px;
  width:375px;
  height:1px;
  display:flex;
  text-align:right;
}
#u4629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4630 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:77px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4630 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4631 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:81px;
  width:21px;
  height:21px;
  display:flex;
}
#u4631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:915px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:15px;
  width:218px;
  height:915px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:left;
  line-height:22px;
}
#u4633 .text {
  position:absolute;
  align-self:flex-start;
  padding:48px 16px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4636_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:365px;
  height:174px;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:114px;
  width:335px;
  height:144px;
  display:flex;
}
#u4636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:128px;
  width:187px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4637 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:189px;
  width:88px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4638 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:229px;
  width:187px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4639 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:267px;
  width:82px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 154, 71, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:778px;
  width:116px;
  height:40px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4644_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:365px;
  height:255px;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:299px;
  width:335px;
  height:225px;
  display:flex;
}
#u4644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:39px;
}
#u4645 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:321px;
  width:187px;
  height:39px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4645 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4646 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:382px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4646 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u4647 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:407px;
  width:88px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4647 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u4648 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:355px;
  width:88px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4648 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4649 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:432px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4649 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:457px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4650 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4651 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:482px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4651 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 154, 71, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:778px;
  width:116px;
  height:40px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4655_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:365px;
  height:255px;
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:535px;
  width:335px;
  height:225px;
  display:flex;
}
#u4655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:39px;
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:557px;
  width:187px;
  height:39px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4656 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4657 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:618px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4657 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:643px;
  width:88px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4658 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u4659 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:591px;
  width:88px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4659 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:668px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4660 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:693px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4661 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:718px;
  width:200px;
  height:25px;
  display:flex;
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
}
#u4662 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
